[data-react-page="list"] {
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;

  header {
    clear: both;
    display: block;
    height: 50px;
    font-size: 80px;
    font-weight: 100;
    text-align: left;
    color: rgba(175, 47, 47, 0.15);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;

    h2 {
      font-size: 55px;
      font-weight: 100;
      text-align: center;
    }

    .close {
      position: absolute;
      top: -20px;
      right: 20px;
      font-size: 30px;
      text-decoration: none;
      color: black;
      line-height: 80px;

      &:hover {
        color: #af5b5e;
        cursor: pointer;
      }

      &:after {
        content: '×';
      }
    }
  }
  .list {
    list-style: none;
    margin: 0;
    padding: 0;

  }

}
