[data-react-component="item"] {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;

  &:last-child {
    border-bottom: none;
  }

  &.editing {
    border-bottom: none;
    padding: 0;
  }

  &.editing .edit {
    display: block;
    width: 96%;
    margin: 0 0 0 43px;
    border-bottom: 1px solid #ededed;
    &:hover {
      cursor: auto;
    }
  }

  &.editing button.edit {
    display: none !important;
  }

  &.editing .view {
    display: none !important;
  }

  &.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
  }

  &.editing:last-child {
    margin-bottom: -1px;
  }

  .view {
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        cursor: pointer;
        color: black;
      }
    }
  }

  li .toggle {
    text-align: center;
    width: 40px;
    /* auto, since non-WebKit browsers doesn't support input styling */
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none; /* Mobile Safari */
    -webkit-appearance: none;
    appearance: none;
  }

  .toggle:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
  }

  .toggle:checked:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
  }

  label {
    white-space: pre;
    word-break: break-word;
    padding: 15px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
  }

  .destroy {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
  }

  .destroy:hover {
    color: #af5b5e;
    cursor: pointer;
  }

  .destroy:after {
    content: '×';
  }

  .destroy {
    display: block;
  }

  button.edit {
    border: none;
    background-image: image_url('pencil.svg');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    display: block;
    position: absolute;
    right: 40px;
    bottom: 2px;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
    &:hover {
      cursor: pointer;
    }
  }

  input.edit {
    border: none;
    box-shadow: none;
    display: block;
    position: absolute;
    top: 2px;
    right: 6px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
    &:hover {
      cursor: pointer;
    }
  }
}